/*RESET*/
body, h1, h2, h3, p, figure {margin: 0;}
a{color: inherit;}

/*GENERAL*/
body{font-family: Arial, Helvetica, sans-serif;}
.container{width: 80%; margin: 40px auto;}

/*TOP_SITE*/
.top-site{padding: 40px; text-align: center; background-color: #4fffa4; border: solid 6px #2ed17d;}
p{font-size: 18px;}

/*TEAM*/
.members{display: flex; justify-content: space-between; margin-top: 40px;}
.member{width: 30%;}
.member img{ width: 100%;}
.member header {margin-top: 20px;}
.member h3{color: #2ed17d; margin: 5px 0 10px 0;}
.member p{font-style: italic;}
.member a{font-weight: bold; display: inline-block; margin-top: 20px;}

